.benefit {
  @media (max-width: 640px) {
    width: calc(fit-content -1rem);
    height: calc(fit-content -5rem);
  }
  @media (min-width: 768px) {
    width: 20rem;
    // height: calc(fit-content -5rem);
  }

  width: calc(fit-content -10rem);
  height: calc(fit-content -10rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 0 2px;
  position: relative;
  margin-bottom: 4px;

  &:hover {
    transform: translateY(-6px);
    transition-duration: 500ms;
  }

  .image {
    height: 17rem;
    margin: 0;
    padding: 0;
  }

  .flexContainer {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    padding-top: 6px;
  }

  .content {
    padding: 16px;
    @media (max-width: 640px) {
      padding: 0;
      padding-bottom: 1rem;
      width: calc(fit-content -3rem);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-top: 8px;
      margin-bottom: 2px;

      font-size: 20px;
      text-transform: uppercase;
    }

    .description {
      text-align: center;
      padding: 4px;
      font-size: 14px;
      color: #788187;
    }
  }
}
