.custom-button {
  padding: 9px 18px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  cursor: pointer;

  &:hover {
    background-color: #4a8d4d;
  }
}
