.collection-con {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  background-color: #f0f4f7;
  @media (min-width: 640px) {
    // margin-top: -5rem;
    // padding-top: 0rem;
    padding-left: 0;
  }
}

.filter-bar {
  display: flex;
  overflow-x: auto;
  // justify-content: center;

  @media (min-width: 640px) {
    justify-content: center;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.img-con {
  padding-top: 2rem;
  margin-left: 1.75rem;

  @media (min-width: 640px) {
    padding-left: 2rem;
  }
  display: flex;
  overflow-x: auto;
}

.morebutton {
  padding: 0 2px;
  height: 45px;
  width: 130px;
  border: 2px solid #00796b;
  background-color: white;
  margin-bottom: 3rem;
  color: #00796b;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s, transform 0.2s;

  &:hover {
    border-color: #4caf50;
    color: #4caf50;
    transform: scale(1.05);
  }
}

.button-con {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
