.weather-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @media (min-width: 640px) {
    transform: scale(1);
    flex-direction: row;
  }
  transform: scale(0.75);
  // width: 30rem;
  margin-bottom: 1.5rem;
}

.characteristic {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e2e8f0;
  padding: 0.75rem;
  &:last-child {
    border-bottom: 0;
  }

  @media (min-width: 640px) {
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid #e2e8f0;
    border-bottom: 0;

    padding: 0.75rem;
    // &:last-child {
    //   border-right: 2px solid #e2e8f0;
    // }
    &:first-child {
      border-left: 0;
    }
  }

  &-img {
    width: 2.5rem;
    opacity: 0.5;
    margin-bottom: 0.5rem;
  }
  &__text {
    font-size: 0.875rem;
  }
}
